<template>
  <div>
    <heading class="mb-6">Gpt Repl</heading>

    <div class="mb-8">
      <card class="card">
        <div class="flex border-b border-40 remove-bottom-border">
          <div class="px-8 py-6 w-1/5">
            <label for="color" class="inline-block text-80 pt-2 leading-tight">
              Запрос
            </label>
          </div>
          <div class="py-6 px-8 w-1/2">
            <input
              v-model="prompt"
              placeholder="Запрос"
              class="w-full form-control form-input form-input-bordered"
            />
          </div>
        </div>
      </card>
    </div>

    <div class="mb-8" v-if="result">
      <card class="card">
        <div class="flex border-b border-40 remove-bottom-border">
          <div class="px-8 py-6" v-html="result"></div>
        </div>
      </card>
    </div>

    <div class="flex items-center justify-end">
      <button
        type="button"
        class="btn btn-default btn-primary inline-flex items-center relative"
        dusk="update-and-continue-editing-button"
        @click="sendRequest"
      >
        Отправить запрос
      </button>
    </div>
  </div>
</template>

<script>
export default {
  metaInfo() {
    return {
      title: "GptRepl",
    };
  },

  data() {
    return {
      prompt: "",
      result: "",
    };
  },

  methods: {
    sendRequest() {
        axios.get('/company/gpt-repl/send-request', {
            params: {
                prompt: this.prompt
            }
        }).then((res) => {
            this.result = res.data.response;
        });
    },
  },
};
</script>

<style>
/* Scoped Styles */
</style>
